# Create Table with SQLite

In [1]:
import numpy as np
import sqlite3
con = sqlite3.connect("worker_db.sqlite")
cursor = con.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS worker (Worker_id INT, İsim TEXT,Soyisim TEXT,Memleket TEXT, Yaş INT)")
con.commit()
    
cursor.execute("CREATE TABLE IF NOT EXISTS personal_info (personal_id INT, Boy FLOAT, Kilo FLOAT)")
con.commit()
    
veriler1 = [(10,'Fırat', 'Özgül', 'Adana', 18),
            (11,'Mehmet', 'Baş', 'Adana', 28),
            (12,'Gamze', 'Sönmez', 'Adana', 32),
            (13,'Ahmet', 'Söz', 'Bolvadin', 45),
            (14,'Veli', 'Göz', 'İskenderun', 70),
            (15,'Mehmet', 'Öz', 'Kilis', 35),
            (16,'Fitnat', 'Gül', 'Adana', 55),
            (17,'Ayşe', 'Nur', 'Urfa', 22),
            (18,'Veysi', 'Güngör', 'Ordu', 54),
            (19,'Meryem', 'Kütük', 'Mersin', 38)]
    
for veri in veriler1:
    cursor.execute("""INSERT INTO worker VALUES (?, ?, ?, ?, ?)""", veri) 
con.commit()

veriler2 = [(10, 1.57, 63),
            (11, 1.45, 52),
            (12, 1.69, 67),
            (13, 1.58, 60),
            (14, 1.80, 78),
            (15, 1.53, 49),
            (16, 1.72, 66),
            (17, 1.60, 55),
            (18, 1.92, 103),
            (19, 1.70, 92)]
    
for veri in veriler2:
    cursor.execute("""INSERT INTO personal_info VALUES (?, ?, ?)""", veri) 
con.commit()
con.close()

# SQLite Basic Rule

In [2]:
import sqlite3
import numpy as np

con = sqlite3.connect("worker_db.sqlite")
cursor = con.cursor()

In [3]:
cursor.execute("INSERT INTO worker VALUES(20,'Nur','Çelik','Çorum',19)") # veri eklemeyi sağlar
con.commit()

In [4]:
def add_row(İd, İsim, Soyisim, Memleket, Yaş): # veri eklemeyi sağlar
    cursor.execute("Insert into worker Values(?,?,?,?,?)",(İd, İsim, Soyisim, Memleket, Yaş))
    con.commit()
    
add_row(21, 'Nuri', 'Çek', 'Kastamonu', 23)

In [5]:
cursor.execute("Select * From worker")
data1 = cursor.fetchone()
print("data1:\n",np.array(data1))

cursor.execute("Select * From worker")
data2 = cursor.fetchmany(5)
print("data2:\n",np.array(data2))

data1:
 ['10' 'Fırat' 'Özgül' 'Adana' '18']
data2:
 [['10' 'Fırat' 'Özgül' 'Adana' '18']
 ['11' 'Mehmet' 'Baş' 'Adana' '28']
 ['12' 'Gamze' 'Sönmez' 'Adana' '32']
 ['13' 'Ahmet' 'Söz' 'Bolvadin' '45']
 ['14' 'Veli' 'Göz' 'İskenderun' '70']]

In [6]:
def fetch_data(): # veri almayı sağlar
    cursor.execute("Select * From worker")
    data = cursor.fetchall() # DB'den bilgileri çeker.
    print("Worker Tablosunun bilgileri.....")
    for i in data:
        print(i)
    # con.commit() işlemine gerek yok. Çünkü tabloda herhangi bir güncelleme yapmıyoruz.

fetch_data()

Worker Tablosunun bilgileri.....
(10, 'Fırat', 'Özgül', 'Adana', 18)
(11, 'Mehmet', 'Baş', 'Adana', 28)
(12, 'Gamze', 'Sönmez', 'Adana', 32)
(13, 'Ahmet', 'Söz', 'Bolvadin', 45)
(14, 'Veli', 'Göz', 'İskenderun', 70)
(15, 'Mehmet', 'Öz', 'Kilis', 35)
(16, 'Fitnat', 'Gül', 'Adana', 55)
(17, 'Ayşe', 'Nur', 'Urfa', 22)
(18, 'Veysi', 'Güngör', 'Ordu', 54)
(19, 'Meryem', 'Kütük', 'Mersin', 38)
(20, 'Nur', 'Çelik', 'Çorum', 19)
(21, 'Nuri', 'Çek', 'Kastamonu', 23)

In [7]:
def fetch_data2():
    cursor.execute("Select İsim, Soyisim From worker") # Sadece İsim ve Soyisim özelliklerini alıyoruz.
    data = cursor.fetchall()
    print("Worker Tablosunun İsim ve Soyisim bilgileri.....")
    for i in data:
        print(i)

fetch_data2()

Worker Tablosunun İsim ve Soyisim bilgileri.....
('Fırat', 'Özgül')
('Mehmet', 'Baş')
('Gamze', 'Sönmez')
('Ahmet', 'Söz')
('Veli', 'Göz')
('Mehmet', 'Öz')
('Fitnat', 'Gül')
('Ayşe', 'Nur')
('Veysi', 'Güngör')
('Meryem', 'Kütük')
('Nur', 'Çelik')
('Nuri', 'Çek')

In [8]:
def fetch_data3(Memleket):
    cursor.execute("Select * From worker where Memleket = ?",(Memleket,)) # Sadece Memleketi, Çorum olan çalışanlar.
    data = cursor.fetchall()
    print("Worker Tablosu: Memleketi Çorum olanların bilgileri.....")
    for i in data:
        print(i)

fetch_data3("Çorum")

Worker Tablosu: Memleketi Çorum olanların bilgileri.....
(20, 'Nur', 'Çelik', 'Çorum', 19)

In [9]:
def update_data(yayınevi):
    cursor.execute("Update worker set Memleket = ? where Memleket =  ?",("Tokat",yayınevi))
    con.commit()

update_data("Çorum") # Çorum olanlar Tokat olarak değiştirildi.
fetch_data3("Tokat")

Worker Tablosu: Memleketi Çorum olanların bilgileri.....
(20, 'Nur', 'Çelik', 'Tokat', 19)

In [10]:
def delete_data(isim):
    cursor.execute("Delete  From worker where İsim = ?",(isim,))
    con.commit()

add_row(22,'Aliş', 'Veli', 'Düzce', 33)
delete_data("Aliş")

In [11]:
def comparison_data(): # veriler arasında karşılaştırma
    cursor.execute("Select * From worker where Yaş <= 22") # >=,<,<=,!= 
    data = cursor.fetchall()
    print("Yaşı 22den küçük olanların bilgileri.....")
    for i in data:
        print(i)

comparison_data()

Yaşı 22den küçük olanların bilgileri.....
(10, 'Fırat', 'Özgül', 'Adana', 18)
(17, 'Ayşe', 'Nur', 'Urfa', 22)
(20, 'Nur', 'Çelik', 'Tokat', 19)

In [12]:
def multi_condition_data(): 
    cursor.execute("""Select * From worker where Memleket = "Adana" and Yaş >= 22""") # AND / OR 
    data = cursor.fetchall() # DB'den bilgileri çeker.
    print("Memleketi Adana ve Yaşı 22ye eşit yada büyük olanların bilgileri.....")
    for i in data:
        print(i)

multi_condition_data()

Memleketi Adana ve Yaşı 22ye eşit yada büyük olanların bilgileri.....
(11, 'Mehmet', 'Baş', 'Adana', 28)
(12, 'Gamze', 'Sönmez', 'Adana', 32)
(16, 'Fitnat', 'Gül', 'Adana', 55)

In [13]:
def between_data(): 
    cursor.execute("""Select * From worker where Yaş between 30 and 50""") # NOT BETWEEN
    data = cursor.fetchall() # DB'den bilgileri çeker.
    print("Yaşı 30 ile 50 arasında olanlar bilgileri.....")
    for i in data:
        print(i)

between_data()

Yaşı 30 ile 50 arasında olanlar bilgileri.....
(12, 'Gamze', 'Sönmez', 'Adana', 32)
(13, 'Ahmet', 'Söz', 'Bolvadin', 45)
(15, 'Mehmet', 'Öz', 'Kilis', 35)
(19, 'Meryem', 'Kütük', 'Mersin', 38)

In [14]:
def in_data(): 
    cursor.execute("""Select * From worker where Memleket in("Adana", "Tokat")""") # NOT BETWEEN
    data = cursor.fetchall()
    print("Memleketi Tokat ve Adana olanlar bilgileri.....")
    for i in data:
        print(i)

in_data()

Memleketi Tokat ve Adana olanlar bilgileri.....
(10, 'Fırat', 'Özgül', 'Adana', 18)
(11, 'Mehmet', 'Baş', 'Adana', 28)
(12, 'Gamze', 'Sönmez', 'Adana', 32)
(16, 'Fitnat', 'Gül', 'Adana', 55)
(20, 'Nur', 'Çelik', 'Tokat', 19)

In [15]:
def like_data(): 
    cursor.execute("""Select * From worker where İsim like "A%" """) # NOT LIKE
    data = cursor.fetchall()
    print("A ile başlayan isimler.....")
    for i in data:
        print(i)

like_data()

A ile başlayan isimler.....
(13, 'Ahmet', 'Söz', 'Bolvadin', 45)
(17, 'Ayşe', 'Nur', 'Urfa', 22)

In [16]:
def null_data(): 
    cursor.execute("""Select * From worker where Memleket IS NULL""") # IS NULL & IS NOT NULL
    data = cursor.fetchall()
    print("Worker Tablosunun bilgileri.....")
    for i in data:
        print(i)

# null_data()

In [17]:
def count_data(): 
    cursor.execute("""Select Count(*) From worker""") # Count row 
    data = cursor.fetchall()
    print("Satır sayısı.....")
    for i in data:
        print(i)

count_data()

Satır sayısı.....
(12,)

In [18]:
def distinct_data(): 
    cursor.execute("""Select DISTINCT Yaş From worker""") # Uniq value
    data = cursor.fetchall()
    print("Uniq satır sayısı.....")
    for i in data:
        print(i)

distinct_data()

Uniq satır sayısı.....
(18,)
(28,)
(32,)
(45,)
(70,)
(35,)
(55,)
(22,)
(54,)
(38,)
(19,)
(23,)

In [19]:
def count_distinct_data(): 
    cursor.execute("""Select count (DISTINCT Yaş) From worker""") # count Uniq value
    data = cursor.fetchall()
    print("Uniq yaş bilgileri.....")
    for i in data:
        print(i)

count_distinct_data()

Uniq yaş bilgileri.....
(12,)

In [20]:
def max_data(): 
    cursor.execute("""Select MAX (Yaş) From worker""") # MIN, AVG, 
    data = cursor.fetchall()
    print("Çalışanların içinde en büyük yaş.....")
    for i in data:
        print(i)

max_data()

Çalışanların içinde en büyük yaş.....
(70,)

In [21]:
def orderby_data(): 
    cursor.execute("""Select DISTINCT Yaş From worker ORDER BY Yaş""") # DESC: büyükten küçüğe sıralama
    data = cursor.fetchall()
    print("Küçükten büyüğe sıralı Uniq yaş bilgisi.....")
    for i in data:
        print(i)

orderby_data()

Küçükten büyüğe sıralı Uniq yaş bilgisi.....
(18,)
(19,)
(22,)
(23,)
(28,)
(32,)
(35,)
(38,)
(45,)
(54,)
(55,)
(70,)

In [22]:
def orderby_data(): 
    cursor.execute("""Select * From worker ORDER BY Memleket""")
    data = cursor.fetchall()
    print("Memlekete göre sıralama.....")
    for i in data:
        print(i)

orderby_data()

Memlekete göre sıralama.....
(10, 'Fırat', 'Özgül', 'Adana', 18)
(11, 'Mehmet', 'Baş', 'Adana', 28)
(12, 'Gamze', 'Sönmez', 'Adana', 32)
(16, 'Fitnat', 'Gül', 'Adana', 55)
(13, 'Ahmet', 'Söz', 'Bolvadin', 45)
(21, 'Nuri', 'Çek', 'Kastamonu', 23)
(15, 'Mehmet', 'Öz', 'Kilis', 35)
(19, 'Meryem', 'Kütük', 'Mersin', 38)
(18, 'Veysi', 'Güngör', 'Ordu', 54)
(20, 'Nur', 'Çelik', 'Tokat', 19)
(17, 'Ayşe', 'Nur', 'Urfa', 22)
(14, 'Veli', 'Göz', 'İskenderun', 70)

In [23]:
def limit_data(): 
    cursor.execute("SELECT * FROM worker LIMIT 10;") # SQL sorgusunda döndürülen satır sayısı
    data = cursor.fetchall()
    print("Worker tablosunda ilk 10 verinin bilgileri.....")
    for i in data:
        print(i)

limit_data()

Worker tablosunda ilk 10 verinin bilgileri.....
(10, 'Fırat', 'Özgül', 'Adana', 18)
(11, 'Mehmet', 'Baş', 'Adana', 28)
(12, 'Gamze', 'Sönmez', 'Adana', 32)
(13, 'Ahmet', 'Söz', 'Bolvadin', 45)
(14, 'Veli', 'Göz', 'İskenderun', 70)
(15, 'Mehmet', 'Öz', 'Kilis', 35)
(16, 'Fitnat', 'Gül', 'Adana', 55)
(17, 'Ayşe', 'Nur', 'Urfa', 22)
(18, 'Veysi', 'Güngör', 'Ordu', 54)
(19, 'Meryem', 'Kütük', 'Mersin', 38)

In [24]:
con.close()

# Multi Table Process with SQLite

In [25]:
import sqlite3

con = sqlite3.connect('worker_db.sqlite')
cursor = con.cursor()

# db: worker_db
# tables: worker, personal_info
# attributes: worker >> Worker_id, İsim, Soyisim, Memleket, Yaş
#             personal_info >> personal_id, Boy, Kilo

In [26]:
cursor.execute("""SELECT * 
                  FROM worker 
                  LIMIT 2""")
data = cursor.fetchall() ### LIMIT: SQL sorgusunda döndürülen satır sayısı.
print("Teams_in_Matches tablosundaki ilk 2 verinin bilgileri.....")
for i in data: print(i)

Teams_in_Matches tablosundaki ilk 2 verinin bilgileri.....
(10, 'Fırat', 'Özgül', 'Adana', 18)
(11, 'Mehmet', 'Baş', 'Adana', 28)

In [27]:
cursor.execute("""SELECT * 
                  FROM worker, personal_info 
                  WHERE worker.Worker_id = personal_info.personal_id
                  LIMIT 2""") # id'lere göre eşleştirilenleri sorgular.
data = cursor.fetchall()
print("worker ve personal_info tablosundaki ilk 2 verinin bilgileri.....")
for i in data: print(i)

worker ve personal_info tablosundaki ilk 2 verinin bilgileri.....
(10, 'Fırat', 'Özgül', 'Adana', 18, 10, 1.57, 63.0)
(11, 'Mehmet', 'Baş', 'Adana', 28, 11, 1.45, 52.0)

In [28]:
cursor.execute("""SELECT * 
                  FROM worker 
                  JOIN personal_info 
                  ON worker.Worker_id = personal_info.personal_id
                  LIMIT 2""") # JOIN: SQL sorgusunda table'lar birleştirilir.
data = cursor.fetchall()
print("worker ve personal_info tablosundaki ilk 2 verinin bilgileri.....")
for i in data: print(i)

worker ve personal_info tablosundaki ilk 2 verinin bilgileri.....
(10, 'Fırat', 'Özgül', 'Adana', 18, 10, 1.57, 63.0)
(11, 'Mehmet', 'Baş', 'Adana', 28, 11, 1.45, 52.0)

In [29]:
cursor.execute("""SELECT worker.Worker_id, 
                         worker.İsim,
                         worker.Soyisim,
                         personal_info.Boy,
                         personal_info.Kilo
                  FROM worker 
                  JOIN personal_info 
                  ON worker.Worker_id = personal_info.personal_id
                  LIMIT 2""") # JOIN olan tablolarda istenilen attribute'lar sıralanır
data = cursor.fetchall()
print("worker ve personal_info tablosundaki ilk 2 verinin bilgileri.....")
for i in data: print(i)

worker ve personal_info tablosundaki ilk 2 verinin bilgileri.....
(10, 'Fırat', 'Özgül', 1.57, 63.0)
(11, 'Mehmet', 'Baş', 1.45, 52.0)

In [30]:
cursor.execute("""SELECT Worker_id, 
                         İsim,
                         Soyisim,
                         Boy,
                         Kilo
                  FROM worker 
                  JOIN personal_info 
                  ON worker.Worker_id = personal_info.personal_id
                  LIMIT 2""") # Uniq attribute'ler table.attribute yerine sadece attribute olarak yazılabilir.
data = cursor.fetchall()
print("worker ve personal_info tablosundaki ilk 2 verinin bilgileri.....")
for i in data: print(i)

worker ve personal_info tablosundaki ilk 2 verinin bilgileri.....
(10, 'Fırat', 'Özgül', 1.57, 63.0)
(11, 'Mehmet', 'Baş', 1.45, 52.0)

In [31]:
cursor.execute("""SELECT Worker_id, 
                         İsim,
                         Soyisim,
                         Boy,
                         Kilo
                  FROM worker 
                  JOIN personal_info 
                  ON worker.Worker_id = personal_info.personal_id
                  WHERE Boy > 1.70
                  LIMIT 2""") # Joın table'lar boyu 1.70'den büyük olanlar.
data = cursor.fetchall()
print("worker ve personal_info tablosundaki ilk 2 verinin bilgileri.....")
for i in data: print(i)

worker ve personal_info tablosundaki ilk 2 verinin bilgileri.....
(14, 'Veli', 'Göz', 1.8, 78.0)
(16, 'Fitnat', 'Gül', 1.72, 66.0)

In [32]:
cursor.execute("""SELECT Worker_id, 
                         İsim,
                         Soyisim,
                         Boy,
                         Kilo
                  FROM worker 
                  INNER JOIN personal_info 
                  ON worker.Worker_id = personal_info.personal_id
                  LIMIT 2""") # INNER Joın table'ları eşleşen columları uniq olarak birleştirir.
data = cursor.fetchall()
print("worker ve personal_info tablosundaki boyu 1.70'den büyük olanların ilk 2 verinin bilgileri.....")
for i in data: print(i)

worker ve personal_info tablosundaki boyu 1.70'den büyük olanların ilk 2 verinin bilgileri.....
(10, 'Fırat', 'Özgül', 1.57, 63.0)
(11, 'Mehmet', 'Baş', 1.45, 52.0)

In [33]:
con.close()